


    <div id="home"  style=" width:100%;">


    </div>
<script>
  //  var hhh = window.innerHeight;
   // console.log(hhh);
  //  document.getElementById("home").style.height = hhh;
    $(document).ready(function () {
        $("#home").css("height", $(window).height() -50);
    });
    //- 50 + "px"
</script>


